.title, .label, #tooltip{
    text-anchor: middle; /*Centrar el texto*/
}

.line {
    fill: none; /*Relleno vacío y stroke o borde de color, para simular la linea pedida*/
    stroke: #31a558;
    stroke-width: 3;
}


.dot {
    fill: #77591c; /*color que serán los nodos*/
    stroke: #fff; /*borde al circulo, por aspectos visuales*/
}

.selected {
    fill: rgb(219, 189, 17); /*color que serán los nodos mientras tengan el mouse encima*/
    stroke: #fff;
}
